.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.toDo {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.formatting {
  height: 50px;
  vertical-align: bottom;
}

.firstDiv {
  border: 1px solid black;
  margin: 15px;
  padding: 10px;
}

table.toDo th, table.toDo td {
  border: 1px solid;
  padding: 8px;
}

table.toDo th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}